{% load static %}

<div class="card mb-4">
    <div class="card-header"><i class="fas fa-table mr-1"></i>Employee Level Data Table</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Employee Name</th>
                        <th>Leave start Date</th>
                        <th>Leave End Date</th>
                        <th>Resume Date</th>
                        <th>Number Of Days</th>
                        <th>Leves Type</th>
                        <th>Confirmed</th>
                        <th colspan="2">status</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Employee Name</th>
                        <th>Leave start Date</th>
                        <th>Leave End Date</th>
                        <th>Resume Date</th>
                        <th>Number Of Days</th>
                        <th>Leves Type</th>
                        <th>Confirmed</th>
                        <th colspan="2">status</th>
                    </tr>
                </tfoot>
                <tbody>
                    {%for emp in employees%}
                    <tr>
                        <td>{{emp.emp_id}}</td>
                        <td>{{emp.start_date}}</td>
                        <td>{{emp.end_date}}</td>
                        <td>{{emp.calculate_resume_date}}</td>
                        <td>{{emp.calculate_number_of_days}} days</td>
                        <td>{{emp.leave_id}}</td>
                        <td>{{emp.confirm}}</td>
                        <td>
                            <a href="{{emp.id}}/accept">
                                <button type="button" class="btn btn-outline-primary btn-sm">
                                    <i class="fas fa-check"></i>
                                </button>
                            </a>
                        </td>
                        <td>
                            <a href="{{emp.id}}/reject">
                                <button type="button" class="btn btn-outline-danger btn-sm">
                                    <i class="fas fa-times"></i>
                                </button>
                            </a>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>